@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins';
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  flex-direction: column;
}

.container {
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
  padding: 40px;
  text-align: center;
  margin: auto;
}

header h1 {
  font-size: 2.5em;
  color: #2c3e50;
  margin-bottom: 10px;
}

header h3 {
  font-size: 1.2em;
  color: #7f8c8d;
  margin-bottom: 20px;
}

.image-section img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.name-input-section input {
  padding: 10px;
  width: 80%;
  font-size: 1em;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
  transition: border 0.3s;
}

.name-input-section input:focus {
  border-color: #3498db;
  outline: none;
}

.name-input-section p {
  font-size: 2em;
  color: #3498db;
  margin-top: 10px;
}

.counter-section button {
  padding: 10px 20px;
  font-size: 1.5em;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

.counter-section button:hover {
  background-color: #2980b9;
}

.counter-section p {
  font-size: 1.5em;
  color: #333;
  margin-top: 10px;
}

/* Part 2 */

h1 {
  text-align: center;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}

.passing {
  color: green;
  font-weight: bold;
}

.failing {
  color: red;
  font-weight: bold;
}

.box {
  border: 2px solid black;
  margin-top: 10px;
  margin: auto;
}